.sider-panel__header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 54px;
}

.sider-panel__btn-menu {
  margin: 0 auto;
}

.sider-panel__btn-menu svg {
  width: 80%;
  margin: 0 auto;
}
