@let state = state$ | async;

<div class="container">
  <div nz-row [nzGutter]="[16, 16]">
    @if (state?.status === "pending") {
      @for (item of placeholder; track item.id) {
        <div
          nz-col
          class="gutter-row"
          [nzXs]="24"
          [nzSm]="12"
          [nzMd]="12"
          [nzLg]="6"
        >
          <div class="skeleton"></div>
        </div>
      }
    } @else {
      @for (item of $any(state?.data?.data); track item.id) {
        <div
          nz-col
          class="gutter-row"
          [nzXs]="24"
          [nzSm]="12"
          [nzMd]="12"
          [nzLg]="6"
        >
          <nz-card [nzCover]="coverTemp" class="image-card"></nz-card>

          <ng-template #coverTemp>
            <div class="image-box">
              <img class="image" [ngSrc]="item.image" alt="sneakers" fill />
              <a class="image-name" [routerLink]="'/product/' + item.id">
                <p class="image-name-header">{{ item.name }}</p>
                <p class="image-name-footer">{{ item.price }}</p>
              </a>
            </div>
          </ng-template>
        </div>
      }
    }
  </div>
</div>
